#heading{
    text-align: left;
}
#heading h1{
    text-transform: uppercase;
    text-transform: capitalize;
    font-size: 22PX;
}
#heading h2{
    font-size: 40PX;
    margin-bottom: 15px;
    text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
    #heading h2 {
        font-size: 25PX;
    }
}